@import "../../index.scss";
.postList {
    width: 100%;

    li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;

        color: $white-color;
        align-items: center;
        font-size: 24px;
        padding: 10px 0;

        .btns {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .deleteBtn {
            background-color: red;
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 16px;
        }

        .updateBtn {
            background-color: $add-color;
            color: white;
            padding: 5px;
            border-radius: 5px;
            font-size: 16px;
        }
    }
}
